<div>
<h1>Recruit Dashboard</h1>

<h3><%= link_to "Find Recruits", "/characters" %></h3>
<h3><%= link_to "Certify and View Recruits", "/recruits" %></h3>

<figure id="img-div">
  <img id="image"
     src="https://i.annihil.us/u/prod/marvel/images/OpenGraph-TW-1200x630.jpg"
</figure>
</div>
